@use 'sass:map';

$breakpoints: (
    small: 35em,
    medium: 65em,
    large: 90em
);

@mixin mq($key){
     $br-size: map-get($breakpoints, $key);

     @media(min-width: $br-size){
         @content;
     }
}

        <figure class="productView-image"
                data-image-gallery-main
                data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                >
            <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                <img class="productView-image--default"
                     src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                     alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
            </a>
        </figure>
