@use 'sass:map';

$breakpoints: (
    small: 35em,
    medium: 65em,
    large: 90em
);

@mixin mq($key){
     $br-size: map-get($breakpoints, $key);

     @media(min-width: $br-size){
         @content;
     }
}

